* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes-container {
    width: 600px;
    height: 600px;
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
}

button {
    padding: 4px 25px;
    margin: 10px;
}