* {
    box-sizing: border-box;
}

.boxes-container {
    width: 500px;
    height: 500px;
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
}